@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #fa5354;
  font-family: 'Roboto', sans-serif;
}

.conteudo {
  left: 50%;
  margin: 0 0 0 -250px;
  position: absolute;
  width: 500px;
  background-color: #fa5354;
}

h2 {
  margin-top: 20px;
  font-size: 32px;
  text-transform: uppercase;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

.conteudo, .calendario header {
  position: relative;
}

table {
  margin-top: 20px;
  border-collapse: collapse;
}

thead {
  font-weight: 600;
  text-transform: uppercase;
}

td {
  background-color: white;
  border: 1px solid #cbd1d2;
  height: 72px;
  text-align: center;
  width: 100px;
}

#dias {
  cursor: pointer;
}